.container{
    text-align: center;
    background-color: rgb(16, 16, 16);
    width: 100%; 
  color: white;
  
}
   #vehicle{
    text-align: center;
}
.container div{
    margin: 10px;
        padding: 20px;
        font-size: 30px;
        background-color: #704b9a;
        flex-direction:column;
}